<% include ../../partials/header %>

<div class="container">
    <header class="jumbotron moneyjumbotron">
       <div class="container">
           <h1>Money</h1> 
           <p>
               <a class="btn btn-primary btn-lg" href="money/new">Add a new topic</a>
           </p>
       </div>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% money.reverse().forEach(function(money){ %>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <img class="img-responsive" src="<%= money.image %>">
                    <div class="caption">
                        <h4><%= money.title %></h4>
                    </div>
                    <div class="description">
                        <p><%- money.body.substring(0, 100) %>...</p>
                    </div>
                    <p>
                        <a href="/uniTalk/money/<%= money._id %>" class="btn btn-primary">Read topic</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>    
</div>

<% include ../../partials/footer %>