<h1>Take some time to think about depression.</h1>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <p>While you get started into your new year of study, take some time to think about depression. This may seem like a crazy time to interrupt the parties around orientation or the fun with your new flatmates and friends; although, while you settle in you might as well consider the new experiences and challenges that will be faced. We are not saying that you will get depressed, and we are not suggesting that student life is depressing. The point is, that if you or someone else gets depressed, it would be great for other people to pick up on it.</p>
        
        <p>As you already know, the start of the year is always the best as there are few assignments or tests to prepare for. There are great orientation parties and everyone has a great time getting to know each other and having a lot of fun. The weather is great as summer is not over. Everything is exciting as you have moved away from home, or moved into a new flat. There are many people to meet, there is so much to do, and life couldn’t be better.</p>
        
        <p>Now before long, the year goes by and there are other things to consider as part of being a student. Not everything stays easy all year and challenges will come up that were not expected. If we look at the period around winter exams then a number of areas could potentially become stressful to you. Some of these may not have been obvious right at the start of the year, when the power bill was low and you still had money left from that summer job.</p>
            
        <p>Stresses that can lead to depression at this time include the following:</p>
            <ul>
                <li>The cost of power is at the highest in winter and means that your finances are stretched further than in the warmer periods of the year.</li>
                <li>The cold weather makes it harder to get out of bed in the morning and sickness is more likely to occur as a result of the cold.</li>
                <li>Exam periods are times when there is a great level of stress as there is an expectation to perform well. If the results from assignments and tests during term time are lower than expected then it can be demoralising. The same is true after exams.</li>
                <li>If you are in a relationship and it comes to an end for whatever reason, this is naturally a time where depression can occur. Break-ups are never easy and there may be bad feelings remaining from the relationship.</li>
                <li>As a student you are poor and cannot afford everything that you would like to. The meals are not the same as when you were at home. Most of your money is likely to go towards rent and bills with little else left over.</li>
            </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">            
        <p>This does not include everything that could potentially come up. Everyone has their own set of circumstances that can cause stress and these can naturally lead to depression. So that this does not come across as too depressing, it is important to point out that there are a number of good things that also come with the stresses. Student life during the year will still be great for a number of reasons including those great parties with your flatmates and friends. There are also a number of events that are organised throughout the year around campus. Come up with a few great things about student life yourself. Take it on as an orientation challenge.</p>
        
        <p>Depression could be affecting someone in your flat or a classmate. You could be the one that takes action to make sure that they are okay. They may not be comfortable sharing their experience with anyone and may be embarrassed to admit that they are depressed. By talking to them you are likely to be relieving them of some of the stress that they are under. Depression is a common issue among young people. Suicide is the unfortunate result of depression that could be avoided if the person talked through their issues.</p>
        
        <p>If you are in a state of depression, or contemplating suicide, then it is critically important that you go to talk to someone about it. Do not pretend that everything is okay and do not be embarrassed to admit that you are finding life hard. It would be best to talk to a professional at the health clinic provided on campus. Otherwise talk to a flatmate, a classmate, or anyone else who you are comfortable talking to. If the first person does not get what you are saying then talk to someone else.</p>
        
        <p>Now that you have taken time to think about depression, it is time to go back to the fun of orientation and meeting your new flatmates. Have fun out there, and remember to find those reasons as to why student life is great.</p>
        
        <p>There are useful resources already out there for depression. See the following links:</p>
        
        <ul>
            <li><a href="http://www.depression.org.nz/home">http://www.depression.org.nz/home</a></li>
            <li><a href="http://www.mentalhealth.org.nz">http://www.mentalhealth.org.nz</a></li>
            <li><a href="https://thelowdown.co.nz/">https://thelowdown.co.nz/</a></li>
        </ul>
    </div>
</div>    