<h1>Food Budget</h1>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<p>The food budget available for most students is tight and means that it can be challenging to buy enough food to provide sufficient energy and overall nutritional balance. We have created a base food plan as a start to work out what it is possible to afford on a typical student budget. The intention is to modify this food plan later to provide variation and offer options for different dietary requirements (eg. vegan, gluten free).</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<p>We have developed two plans to reflect the different energy needs of students. One is for a standard 8700kJ per day diet (~$40 per week), and one for a higher energy 11600kJ per day diet (~$50 per week). We have then setup a grocery list for each of these options.</p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p>The food budget can be accessed at <a href="https://docs.google.com/spreadsheets/d/1u-4WLrlz3WRmcdOqaXqPuIsA-UPHWbRgVYphOsRFYZo/edit?usp=sharing">Student Food Budget</a></p>
        
        <p>The plans, and associated grocery lists are shown at the following link:</p>
    </div>
</div>        
<div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">        
        <iframe src="https://docs.google.com/spreadsheets/d/1_zPN_IurGziO70zoKK7BdHY3Mnm1LK2UTiQ3WQYVZ0o/pubhtml?widget=true&amp;headers=false" width="400" height="600"></iframe>
    </div>
</div> 
<hr />
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p>The meals for the base food plans are as follows:</p>
        <ul>
        <li>Breakfast 1: Weetbix and Milk (5 Days)</li>
        <li>Breakfast 2: Pancakes (2 Days)</li>
        </ul>
        <p><a href="http://www.bite.co.nz/recipe/5665/Pancakes/">http://www.bite.co.nz/recipe/5665/Pancakes/</a></p>
        <ul>
        <li>Morning Snack: Banana</li>
        <li>Lunch: Cheese and Pineapple Sandwiches</li>
        </ul>
        <p><a href="http://www.kiwifaves.co.nz/recipe/pinapple-and-cheese-sandwich/">http://www.kiwifaves.co.nz/recipe/pinapple-and-cheese-sandwich/</a></p>
        <ul>
        <li>Afternoon Snack: Peanuts and Raisins</li>
        <li>Dinner 1: Tuna Pasta</li>
        </ul>
        <p><a href="http://www.stuff.co.nz/life-style/food-wine/readers-recipes/8049330/Help-get-NZ-cooking-Tuna-spaghetti">http://www.stuff.co.nz/life-style/food-wine/readers-recipes/8049330/Help-get-NZ-cooking-Tuna-spaghetti</a></p>
        <ul>
        <li>Dinner 2: Beef Mince and Nachos</li>
        </ul>
        <p><a href="http://www.foodinaminute.co.nz/Recipes/Chilli-Bean-Nachos">http://www.foodinaminute.co.nz/Recipes/Chilli-Bean-Nachos</a></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <ul>
        <li>Dinner 3: Homemade Pizza</li>
        </ul>
        <p><a href="http://www.healthyfood.co.nz/recipes/2010/june/basic-pizza-10-toppings">http://www.healthyfood.co.nz/recipes/2010/june/basic-pizza-10-toppings</a></p>
        <ul>
        <li>Dinner 4: Chicken Stirfry</li>
        </ul>
        <p><a href="http://www.healthyfood.co.nz/recipes/2010/june/basic-stir-fry-10-meals">http://www.healthyfood.co.nz/recipes/2010/june/basic-stir-fry-10-meals</a></p>
        <ul>
        <li>Dinner 5: Corn Fritters + Carrots</li>
        </ul>
        <p><a href="http://myfamily.kiwi/foods/recipes/three+ingredient+corn+fritters">http://myfamily.kiwi/foods/recipes/three+ingredient+corn+fritters</a></p>
        <ul>
        <li>Dinner 6: Pasta, Beef Mince and Vegetables</li>
        </ul>
        <p><a href="http://www.foodinaminute.co.nz/Recipes/All-in-one-Tasty-Pasta">http://www.foodinaminute.co.nz/Recipes/All-in-one-Tasty-Pasta</a></p>
        <ul>
        <li>Dinner 7: Omelette and Sausages</li>
        </ul>
        <p><a href="http://myfamily.kiwi/foods/recipes/easy+omelette">http://myfamily.kiwi/foods/recipes/easy+omelette</a></p>
    </div>
</div>