<% include ../../../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Add new comment to blog post</h1>
        <div style="width: 66.667%; margin: 25px auto;">
            <form action="/blog/whatIsImportantToConsiderWhenLookingForAFlat" method="POST">
                <div class="form-group">
                   <input class="form-control" type="text" name="blogComment" placeholder="text"> 
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/blog/whatIsImportantToConsiderWhenLookingForAFlat">Go Back</a>
        </div>
    </div>
</div>
<% include ../../../partials/footer %>