<h1>Ideas for your next party</h1>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <p>Every party needs a point of difference that adds excitement and creates an enjoyable experience. We have come up with a number of ideas that you could use at your next party.</p>
        <ul>
            <li>Loosely plan a music playlist before the start of a party, add songs that differ from the general playlist theme for effect, and allow space for others to request songs.</li>
            
            <li>Choose a spirit that you have never tried before, find a simple cocktail recipe, and make your own at the party.</li>
            
            <li>Play beer pong with a drink other than beer that is selected by the other player or team, add rules that mean the other team may have to drink what they have selected.</li>
            
            <li>Create your own photo background or cut-out movable frame to take photos at the party, with a costume kit of available items to wear.</li>
            
            <li>Everyone brings along their own drink, with each drink assigned a number. Everyone then selects a number and drinks what matches that number.</li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <ul>     
            <li>Select a set of food items and drinks for a random blindfold taste test, and be creative with at least one surprise item.</li>
            
            <li>Create a bingo board of activities and actions that will occur at the party, which are hidden and randomly selected during the party.</li>
            
            <li>Choose a number of themes for the party and select a new theme every hour or randomly according to your preference.</li>
            
            <li>Assign an action to cards in a deck and hand out cards randomly to those at the party with each action required to be carried out during the party.</li>
            
            <li>Ask random trivia questions that can only be answered by text. Any incorrect answers incur some penalty.</li>
        </ul>
        
        <p>These are a few party ideas to start with. It would be great to hear what your great party ideas are to add them to the list.</p>
    </div>    
</div>            
        