<% include partials/header %>

<h1>About Us</h1>

<div>
    <div class="row">
    	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    		<img src="/images/aboutUs/profilePictureMT.png">
    	</div>
    	<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    	    <h2>Michael Topp</h2>
    	    <h4>Site Creator</h4>
    		<p>[Insert Content Here]</p>
    	</div>
    </div>
</div>

<% include partials/footer %>