<% include partials/header %>

<h1>About Us</h1>

<p>
    Student Life Edge or Sledge is a new website starting in 2018 and is setup specifically for students. This is for anyone leaving school, currently studying, or about to move into work.
</p>
<p>
    Sledge have recognised a need for open communication about topics that are important to students, with the freedom to discuss anything that is relevant to student life.
</p>
<p>
    Sledge would like to promote the sharing of information to benefit those who are less experienced. Students who are further into study could pass on the experience that new starters do not have. Professionals could share advice within their particular area of expertise.
</p>
<p>
    Sledge is also a place for developing new ideas and concepts that help to improve student life. It would be great to find out popular ideas with students and work with others to develop them.
</p>

<p>
    INSERT ACTUAL INFORMATION ABOUT WHO WE ARE
</p>
<% include partials/footer %>