<% include partials/header %>

<h1>Ask / Offer</h1>

<h3>Select your location/ region below to start.</h3>

<div class="list-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
  <button type="button" class="list-group-item disabled" role="presentation">North Island</button>  
  <a href="/askOffer/northlandRegion/index"><button type="button" class="list-group-item">Northland Region (Kaitaia, Kerikeri, Rawene, Kaikohe, Whangarei)</button></a>
  <a href="/askOffer/auckland/index"><button type="button" class="list-group-item">Auckland</button></a>
  <a href="/askOffer/waikatoRegion/index"><button type="button" class="list-group-item">Waikato Region (Thames, Otorohanga, Tokoroa, Taupo)</button></a>
  <a href="/askOffer/bayOfPlentyRegion/index"><button type="button" class="list-group-item">Bay of Plenty Region (Tauranga, Whakatane, Rotorua)</button></a>
  <a href="/askOffer/hamilton/index"><button type="button" class="list-group-item">Hamilton</button></a>
  <a href="/askOffer/gisborneRegion/index"><button type="button" class="list-group-item">Gisborne Region (Ruatoria, Tokomaru Bay, Gisborne)</button></a>
  <a href="/askOffer/taranakiRegion/index"><button type="button" class="list-group-item">Taranaki Region (New Plymouth, Stratford, Hawera)</button></a>
  <a href="/askOffer/hawkesBayRegion/index"><button type="button" class="list-group-item">Hawkes Bay Region (Wairoa, Napier, Hastings, Waipukurau)</button></a>
  <a href="/askOffer/manawatuWanganuiRegion/index"><button type="button" class="list-group-item">Manawatu / Wanganui Region (Whanganui, Palmerston North, Levin)</button></a>
  <a href="/askOffer/wellingtonRegion/index"><button type="button" class="list-group-item">Wellington Region (Paraparaumu, Masterton, Porirua, Lower Hutt)</button></a>
  <a href="/askOffer/wellington/index"><button type="button" class="list-group-item">Wellington</button></a>
</div>  
<div class="list-group col-xs-12 col-sm-6 col-md-6 col-lg-6">  
  <button type="button" class="list-group-item disabled" role="presentation">South Island</button>
  <a href="/askOffer/nelsonMarlboroughRegion/index"><button type="button" class="list-group-item">Nelson / Marlborough Region (Nelson, Blenheim)</button></a>
  <a href="/askOffer/westCoastRegion/index"><button type="button" class="list-group-item">West Coast Region (Westport, Reefton, Greymouth, Hokitika)</button></a>
  <a href="/askOffer/christchurch/index"><button type="button" class="list-group-item">Christchurch</button></a>
  <a href="/askOffer/southCanterbury/index"><button type="button" class="list-group-item">South Canterbury (Ashburton, Timaru)</button></a>
  <a href="/askOffer/centralOtago/index"><button type="button" class="list-group-item">Central Otago (Wanaka, Queenstown, Cromwell)</button></a>
  <a href="/askOffer/coastalOtago/index"><button type="button" class="list-group-item">Coastal Otago (Oamaru, Balclutha)</button></a>
  <a href="/askOffer/dunedin/index"><button type="button" class="list-group-item">Dunedin</button></a>
  <a href="/askOffer/southlandRegion/index"><button type="button" class="list-group-item">Southland Region (Gore, Invercargill)</button></a>
</div>






<% include partials/footer %>