<% include partials/header %>

<div class="container col-xs-12 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-12 col-lg-offset-0">
    <h1>BLOG SECTIONS</h1>
    
    <div class="topicbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
        <a href="/blog/sections/alcohol">Alcohol</a>
    </div>
    
    <div class="topicbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
        <a href="/blog/sections/career">Career</a>
    </div>
    <div class="topicbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
        <a href="/blog/sections/fashionFemale">Fashion - Female</a>
    </div>
    <div class="topicbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
        <a href="/blog/sections/fashionMale">Fashion - Male</a>
    </div>
    <div class="topicbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
        <a href="/blog/sections/food">Food</a>
    </div>
    <div class="topicbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
        <a href="/blog/sections/flatting">Flatting</a>
    </div>
    <div class="topicbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
        <a href="/blog/sections/health">Health</a>
    </div>
    <div class="topicbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
        <a href="/blog/sections/money">Money</a>
    </div>
    <div class="topicbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
        <a href="/blog/sections/partTimeWork">Part Time Work</a>
    </div>
    <div class="topicbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
        <a href="/blog/sections/parties">Parties</a>
    </div>
    <div class="topicbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
        <a href="/blog/sections/relationships">Relationships</a>
    </div>
    <div class="topicbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
        <a href="/blog/sections/sex">Sex</a>
    </div>
    <div class="topicbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
        <a href="/blog/sections/sport">Sport</a>
    </div>
    <div class="topicbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
        <a href="/blog/sections/study">Study</a>
    </div>
    <div class="topicbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
        <a href="/blog/sections/vehicle">Vehicle</a>
    </div>
    <div class="topicbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-00">
        <a href="/blog/sections/other">Other</a>
    </div>
</div>

<% include partials/footer %>