<% include partials/header %>

<div class="container col-xs-12 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-12 col-lg-offset-0">
    <h1 style="text-align: center">BLOG SECTIONS</h1>
    
    <div class="blogbox alcoholbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="/blog/sections/alcohol"><p class="inlink">Alcohol</p></p></a>
    </div>
    
    <div class="blogbox careerbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="/blog/sections/career"><p class="inlink">Career</p></a>
    </div>
    
    <div class="blogbox femalefashionbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="/blog/sections/fashionFemale"><p class="inlink">Fashion - Female</p></a>
    </div>
    
    <div class="blogbox malefashionbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="/blog/sections/fashionMale"><p class="inlink">Fashion - Male</p></a>
    </div>
    
    <div class="blogbox flattingbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="/blog/sections/flatting"><p class="inlink">Flatting</p></a>
    </div>
    
    <div class="blogbox foodbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="/blog/sections/food"><p class="inlink">Food</p>/a>
    </div>
    
    <div class="blogbox healthbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="/blog/sections/health"><p class="inlink">Health</p></a>
    </div>
    
    <div class="blogbox moneybox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="/blog/sections/money"><p class="inlink">Money</p></a>
    </div>
    
    <div class="blogbox parttimeworkbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="/blog/sections/partTimeWork"><p class="inlink">Part Time Work</p></a>
    </div>
    
    <div class="blogbox partybox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="/blog/sections/parties"><p class="inlink">Parties</p></a>
    </div>
    
    <div class="blogbox relationshipbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="/blog/sections/relationships"><p class="inlink">Relationships</p></a>
    </div>
    
    <div class="blogbox sexbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="/blog/sections/sex"><p class="inlink">Sex</p></a>
    </div>
    
    <div class="blogbox sportbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="/blog/sections/sport"><p class="inlink">Sport</p></a>
    </div>
    
    <div class="blogbox studybox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="/blog/sections/study"><p class="inlink">Study</p></a>
    </div>
    
    <div class="blogbox vehiclebox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="/blog/sections/vehicle"><p class="inlink">Vehicle</p></a>
    </div>
    
    <div class="blogbox otherbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-00">
        <a href="/blog/sections/other"><p class="inlink">Other</p></a>
    </div>
</div>

<% include partials/footer %>