<% include partials/header %>

<h1>Contact Us</h1>

<p>Contact Sledge by email at <a href="mailto:mail@sledge.co.nz">mail@sledge.co.nz</a></p> 

<p>or fill out the form below:</p>

<p>[ninja_forms id=1] INSERT ACTUAL FORM</p>

<% include partials/footer %>