<% include partials/header %>

<h1>Frequently Asked Questions</h1>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <strong>What is the reason for setting up this website?</strong>
        <p>
            We have recognised the need for a website that is independent from other sites to allow various topics around student life to be discussed more openly.
        </p> 
        
        <strong>What is the main aim behind the site?</strong>
        <p>
            Our aim is to put fun back into students' lives and give them the power to achieve great results.
        </p> 
        
        <strong>Will the website give sex advice?</strong>
        <p>
            Yes the site will discuss sex. It is a relevant topic for students and we need to get right into it. This is an important issue of health and there needs to be an open discussion for the sake of student health.
        </p>
        
        <strong>How will the site address fashion for women?</strong>
        <p>
            There is no section or concept currently setup for fashion. If you would like to help setup this area then feel free to contact us.
        </p>
          
        
        <strong>Is this compatible with my iPhone?</strong>
        <p>
            This website should be compatible with any media device. If you are experiencing issues with viewing the site then let us know.
        </p>
        
        <strong>What student deals will be offered?</strong>
        <p>
            No current student deals are offered on this site. It would be great to source deals that are relevant for students. This is a part of the website that will come later. If you have a favourite food place or clothing shop then we want to get deals from there.
        </p>
        
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">  
        
        <strong>Can we rate our lecturers and leave comments about them?</strong>
        <p>
            Yes you can rate your lecturers’. We can set this up as a part of the website. Keep the comments nice though as offensive content cannot be promoted. Maybe rating bars would be good?
        </p>
        
        <strong>Do we know that there are a lot of websites out there already that cover this stuff?</strong>
        <p>
            Yes we are aware of this; however, we would like to find a way of bringing it all together and then make it even better. We am not just saying this and really mean it.
        </p>
        
        <strong>What external sites will be on the website?</strong>
        <p>
            Any sites that are relevant for students will be gradually added to our external links page. This includes links mentioned in the blog posts or any sites that you put forward.
        </p>
        
        <strong>What other ideas have you got for areas of the website?</strong>
        <p>
            We want to hear from you as you know best what could make your life better as a student. Let’s work at this and put everything a student needs onto our site.
        </p>
    </div>
</div>

<div class="contact button">
    		<a href="/contact" class="btn btn-lg btn-success btn-block">Contact us with your question</a>
        </div>

<% include partials/footer %>