<% include partials/header %>

<h1>Our Vision</h1>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p>
        Our vision is to create a site that supports students through a range of different challenges from the end of school, through study, and into starting work. There should be a continuous level of support throughout this time as there is so much to learn and understand, and at the same time enjoy one of the best periods in life. The main aim behind this site is to put the fun back into students’ lives and give them the power to achieve great results.
        </p>
        <p>
        There are currently a range of services offered to students, from a number of providers, in a number of different locations. If these services were all put in a single location and were linked together then it would make the process of being a student much easier. Services that currently seem unrelated could actually work well together and even better than before.
        </p>
        <p>
        Everything relevant for a student would be available on one site. Whether that be moving into a flat, your relationship, or your financial situation, the tools would be there to support all of these different aspects. It is about opening up a wealth of information and experience from those who have gone through it all before. Everyone follows a different path and learns unique lessons along the way. It would be great if every student could gain access to this. There are a number of ways of sourcing information and we are willing to explore these.
        </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p>
        The development of this site is intended as a learning experience in itself. We have made a start and it would be great to receive a range of student and professional input to achieve an end result that truly caters for all students in the best way possible.
        </p>
        <p>
        In summary, we want to source a wealth of information from others, put it in one place, to allow students to achieve great results, and have more fun while studying.
        </p>
        <p>
        If you support this vision then share this idea with others and get the word out there. With your help, we can make it happen together.
        </p>
    </div>    
</div> 
        
<% include partials/footer %>