<% include partials/header %>

<h1>Social Places</h1>

<h3>Select from available locations</h3>
<p>Social places are only available for major centres and selected smaller centres</p>

<div class="list-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
  <button type="button" class="list-group-item disabled" role="presentation">North Island</button>
  <a href="/socialPlaces/whangarei/index"><button type="button" class="list-group-item">Whangarei</button></a>
  <a href="/socialPlaces/auckland/index"><button type="button" class="list-group-item">Auckland</button></a>
  <a href="/socialPlaces/tauranga/index"><button type="button" class="list-group-item">Tauranga</button></a>
  <a href="/socialPlaces/hamilton/index"><button type="button" class="list-group-item">Hamilton</button></a>
  <a href="/socialPlaces/rotorua/index"><button type="button" class="list-group-item">Rotorua</button></a>
  <a href="/socialPlaces/gisborne/index"><button type="button" class="list-group-item">Gisborne</button></a>
  <a href="/socialPlaces/newPlymouth/index"><button type="button" class="list-group-item">New Plymouth</button></a>
  <a href="/socialPlaces/napier/index"><button type="button" class="list-group-item">Napier</button></a>
  <a href="/socialPlaces/hastings/index"><button type="button" class="list-group-item">Hastings</button></a>
  <a href="/socialPlaces/whanganui/index"><button type="button" class="list-group-item">Whanganui</button></a>
  <a href="/socialPlaces/palmerstonNorth/index"><button type="button" class="list-group-item">Palmerston North</button></a>
  <a href="/socialPlaces/wellington/index"><button type="button" class="list-group-item">Wellington</button></a>
</div>  
<div class="list-group col-xs-12 col-sm-6 col-md-6 col-lg-6">  
  <button type="button" class="list-group-item disabled" role="presentation">South Island</button>
  <a href="/socialPlaces/nelson/index"><button type="button" class="list-group-item">Nelson</button></a>
  <a href="/socialPlaces/christchurch/index"><button type="button" class="list-group-item">Christchurch</button></a>
  <a href="/socialPlaces/timaru/index"><button type="button" class="list-group-item">Timaru</button></a>
  <a href="/socialPlaces/queenstown/index"><button type="button" class="list-group-item">Queenstown</button></a>
  <a href="/socialPlaces/dunedin/index"><button type="button" class="list-group-item">Dunedin</button></a>
  <a href="/socialPlaces/invercargill/index"><button type="button" class="list-group-item">Invercargill</button></a>
</div>

<% include partials/footer %>