<% include partials/header %>

<div class="container col-xs-12 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-12 col-lg-offset-0">
    <h1 style="text-align: center">UNI TALK</h1>
    
    <div class="unitalkbox alcoholbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="uniTalk/liquor"><p class="inlink">Alcohol</p></a>
    </div>
    
    <div class="unitalkbox careerbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="uniTalk/career"><p class="inlink">Career</p></a>
    </div>
    
    <div class="unitalkbox femalefashionbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="uniTalk/fashionFemale"><p class="inlink">Fashion - Female</p></a>
    </div>
    
    <div class="unitalkbox malefashionbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="uniTalk/fashionMale"><p class="inlink">Fashion - Male</p></a>
    </div>
    
    <div class="unitalkbox flattingbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="uniTalk/flatting"><p class="inlink">Flatting</p></a>
    </div>
    
    <div class="unitalkbox foodbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="uniTalk/food"><p class="inlink">Food</p></a>
    </div>
    
    <div class="unitalkbox healthbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="uniTalk/health"><p class="inlink">Health</p></a>
    </div>
    
    <div class="unitalkbox moneybox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="uniTalk/money"><p class="inlink">Money</p></a>
    </div>
    
    <div class="unitalkbox parttimeworkbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="uniTalk/partTimeWork"><p class="inlink">Part Time Work</p></a>
    </div>
    
    <div class="unitalkbox partybox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="uniTalk/party"><p class="inlink">Parties</p></a>
    </div>
    
    <div class="unitalkbox relationshipbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="uniTalk/relationship"><p class="inlink">Relationships</p></a>
    </div>
    
    <div class="unitalkbox sexbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="uniTalk/sex"><p class="inlink">Sex</p></a>
    </div>
    
    <div class="unitalkbox sportbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="uniTalk/sport"><p class="inlink">Sport</p></a>
    </div>
    
    <div class="unitalkbox studybox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="uniTalk/study"><p class="inlink">Study</p></a>
    </div>
    
    <div class="unitalkbox vehiclebox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-0">
        <a href="uniTalk/vehicle"><p class="inlink">Vehicle</p></a>
    </div>
    
    <div class="unitalkbox otherbox container col-xs-12 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-00">
        <a href="uniTalk/other"><p class="inlink">Other</p></a>
    </div>
</div>


<% include partials/footer %>