<% include ../../partials/header %>

<div class="container">
    <header class="jumbotron gisbornejumbotron">
       <div class="container">
           <h1>Gisborne Region</h1>
            <h4>Ruatoria, Tokomaru Bay, Gisborne</h4>
               <div class="btn-group btn-group-justified" role="group" aria-label="...">
                  <div class="btn-group" role="group">
                    <a href="ask/new"><button type="button" class="btn btn-default btn-warning">Ask</button></a>
                  </div>
                  <div class="btn-group" role="group">
                    <a href="offer/new"><button type="button" class="btn btn-default btn-success">Offer</button></a>
                  </div>
                </div>
                <div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                       <form action="/askOffer/gisborneRegion/ask" method="get" class="form-inline"> <!--check the route is correct-->
                           <div class="form-group">
                               <input type="text" name="search" placeholder="Gisborne Region Ask Search" class="form-control">
                               <input type="submit" value="search" class="btn btn-info">
                           </div>
                       </form>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                       <form action="/askOffer/gisborneRegion/offer" method="get" class="form-inline"> <!--check the route is correct-->
                           <div class="form-group">
                               <input type="text" name="search" placeholder="Gisborne Region Offer Search" class="form-control">
                               <input type="submit" value="search" class="btn btn-info">
                           </div>
                       </form>
                    </div>
                </div>
       </div>
</div>
<div class="container">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <a href="/askOffer/gisborneRegion/ask"><button type="button" class="btn btn-default">View all Asks</button></a>
        </div>
        <div class="btn-group" role="group">
            <a href="/askOffer/gisborneRegion/offer"><button type="button" class="btn btn-default">View all Offers</button></a>
        </div>
    </div>
</div>

<% include ../../partials/footer %>