<h1>Money Plan</h1>

<p>The topic of money for students is always a difficult one. For anyone living away from home and on the minimum allowance, you will know that it is hard to have enough money left over for the essentials. We understand that it can be worrying when you look at your bank account and the balance is always close to zero.</p>
<p>There are various money planners out there that provide guidance and give you more control over your money. One of these is <a href="https://www.pocketsmith.com/">Pocketsmith</a>. See their free basic plan as a great start.</p>
<p>We have developed our own money plan that allows for budget tracking. This can be accessed at <a href="https://docs.google.com/spreadsheets/d/1X27yHPV7i17zqEOwXeS3gKqx5tpNrtgUZLF2_C5cFJs/edit?usp=sharing">Student Money Plan</a></p>
<p>The money plan is also shown with example costs in the link below:</p>

<iframe src="https://docs.google.com/spreadsheets/d/1KN3F6LxtIP9cnUZzOtojwBLZR8nft5yv9cU-d-UXV20/pubhtml?widget=true&amp;amp;headers=false" width="400" height="600"></iframe>

<p>Enter all of your income and expenses to see how your money tracks over the year.</p>