<% include ../../partials/header %>

<div class="container">
    <header class="jumbotron sexjumbotron">
       <div class="container">
           <h1>Sex</h1> 
           <p>
               <a class="btn btn-primary btn-lg" href="sex/new">Add a new topic</a>
           </p>
       </div>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% sex.reverse().forEach(function(sex){ %>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <img class="img-responsive" src="<%= sex.image %>">
                    <div class="caption">
                        <h4><%= sex.title %></h4>
                    </div>
                    <div class="description">
                        <p><%- sex.body.substring(0, 100) %>...</p>
                    </div>
                    <p>
                        <a href="/uniTalk/sex/<%= sex._id %>" class="btn btn-primary">Read topic</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>    
</div>

<% include ../../partials/footer %>