/*MAIN CSS FILE*/

/*MAIN FONT*/

body  {
  font-family: 'Raleway', sans-serif;
  /*background-color: #eef4be;*/
  background-color: #f6def3;
  /*color: #ffebad;*/ }
  
.home h2 h3  {
  font-family: 'Raleway', sans-serif;
  background-color: #141414;
  color: #AAAAAA; }

/*JUMBOTRON*/
  
.jumbotron {
  background-color: #d4f291;
  color: white; text-shadow: black 0.2em 0.2em 0.3em;
  text-shadow: -1px 0 black, 0 1px black,
  1px 0 black, 0 -1px black;
  height: 45vh;
  border: 0.05px solid #10b0c7;
}

.homejumbotron {
  background-image: url("/images/jumbotron/Auckland_Business_School.jpg");
  background-size: cover;
  opacity: 1;
}

/*ASK / OFFER JUMBOTRONS*/

.northlandjumbotron {
  background-image: url("/images/jumbotron/askOffer/Cape_Reinga.jpg");
  background-size: cover;
  opacity: 1;
}

.aucklandjumbotron {
  background-image: url("/images/jumbotron/askOffer/Auckland.jpg");
  background-size: cover;
  opacity: 1;
}

.waikatojumbotron {
  background-image: url("/images/jumbotron/askOffer/Waikato_River.jpg");
  background-size: cover;
  opacity: 1;
}

.bayofplentyjumbotron {
  background-image: url("/images/jumbotron/askOffer/Mount_Maunganui.jpg");
  background-size: cover;
  opacity: 1;
}

.hamiltonjumbotron {
  background-image: url("/images/jumbotron/askOffer/Hamilton_Lake.jpg");
  background-size: cover;
  opacity: 1;
}

.gisbornejumbotron {
  background-image: url("/images/jumbotron/askOffer/Gisborne.jpg");
  background-size: cover;
  opacity: 1;
}

.taranakijumbotron {
  background-image: url("/images/jumbotron/askOffer/Mount_Taranaki.jpg");
  background-size: cover;
  opacity: 1;
}

.hawkesbayjumbotron {
  background-image: url("/images/jumbotron/askOffer/Napier.jpg");
  background-size: cover;
  opacity: 1;
}

.manawatuwhanganuijumbotron {
  background-image: url("/images/jumbotron/askOffer/Whanganui_River.jpg");
  background-size: cover;
  opacity: 1;
}

.wellingtonregionjumbotron {
  background-image: url("/images/jumbotron/askOffer/Kapiti.jpg");
  background-size: cover;
  opacity: 1;
}

.wellingtonjumbotron {
  background-image: url("/images/jumbotron/askOffer/Wellington_City.jpg");
  background-size: cover;
  opacity: 1;
}

.nelsonmarlboroughjumbotron {
  background-image: url("/images/jumbotron/askOffer/Marlborough.jpg");
  background-size: cover;
  opacity: 1;
}

.westcoastjumbotron {
  background-image: url("/images/jumbotron/askOffer/Westport.jpg");
  background-size: cover;
  opacity: 1;
}

.christchurchjumbotron {
  background-image: url("/images/jumbotron/askOffer/Christchurch.jpg");
  background-size: cover;
  opacity: 1;
}

.southcanterburyjumbotron {
  background-image: url("/images/jumbotron/askOffer/South_Canterbury.jpg");
  background-size: cover;
  opacity: 1;
}

.centralotagojumbotron {
  background-image: url("/images/jumbotron/askOffer/Queenstown.jpg");
  background-size: cover;
  opacity: 1;
}

.coastalotagojumbotron {
  background-image: url("/images/jumbotron/askOffer/Oamaru.jpg");
  background-size: cover;
  opacity: 1;
}

.dunedinjumbotron {
  background-image: url("/images/jumbotron/askOffer/Dunedin.jpg");
  background-size: cover;
  opacity: 1;
}

.southlandjumbotron {
  background-image: url("/images/jumbotron/askOffer/Southland.jpg");
  background-size: cover;
  opacity: 1;
}

/*UNITALK JUMBOTRONS*/

.alcoholjumbotron {
  background-image: url("/images/jumbotron/uniTalk/alcohol.jpg");
  background-size: cover;
  opacity: 1;
}

.careerjumbotron {
  background-image: url("/images/jumbotron/uniTalk/careers.jpg");
  background-size: cover;
  opacity: 1;
}

.femalefashionjumbotron {
  background-image: url("/images/jumbotron/uniTalk/femalefashion.jpg");
  background-size: cover;
  opacity: 1;
}

.flattingjumbotron {
  background-image: url("/images/jumbotron/uniTalk/flatting.jpg");
  background-size: cover;
  opacity: 1;
}

.foodjumbotron {
  background-image: url("/images/jumbotron/uniTalk/food.jpg");
  background-size: cover;
  opacity: 1;
}

.healthjumbotron {
  background-image: url("/images/jumbotron/uniTalk/health.jpg");
  background-size: cover;
  opacity: 1;
}

.malefashionjumbotron {
  background-image: url("/images/jumbotron/uniTalk/malefashion.jpg");
  background-size: cover;
  opacity: 1;
}

.moneyjumbotron {
  background-image: url("/images/jumbotron/uniTalk/money.jpg");
  background-size: cover;
  opacity: 1;
}

.otherjumbotron {
  background-image: url("/images/jumbotron/uniTalk/other.jpg");
  background-size: cover;
  opacity: 1;
}

.parttimeworkjumbotron {
  background-image: url("/images/jumbotron/uniTalk/parttimework.jpg");
  background-size: cover;
  opacity: 1;
}

.partyjumbotron {
  background-image: url("/images/jumbotron/uniTalk/party.jpg");
  background-size: cover;
  opacity: 1;
}

.relationshipjumbotron {
  background-image: url("/images/jumbotron/uniTalk/relationships.jpg");
  background-size: cover;
  opacity: 1;
}

.sexjumbotron {
  background-image: url("/images/jumbotron/uniTalk/sex.jpg");
  background-size: cover;
  opacity: 1;
}

.sportjumbotron {
  background-image: url("/images/jumbotron/uniTalk/sport.jpg");
  background-size: cover;
  opacity: 1;
}

.studyjumbotron {
  background-image: url("/images/jumbotron/uniTalk/study.jpg");
  background-size: cover;
  opacity: 1;
}

.vehiclejumbotron {
  background-image: url("/images/jumbotron/uniTalk/car.jpg");
  background-size: cover;
  opacity: 1;
}


/*UNITALK AND BLOG START PAGES*/


.alcoholbox {
  background-image: url("/images/jumbotron/uniTalk/alcohol.jpg");
  background-size: cover;
  opacity: 1;
}

.careerbox {
  background-image: url("/images/jumbotron/uniTalk/careers.jpg");
  background-size: cover;
  opacity: 1;
}

.femalefashionbox {
  background-image: url("/images/jumbotron/uniTalk/femalefashion.jpg");
  background-size: cover;
  opacity: 1;
}

.flattingbox {
  background-image: url("/images/jumbotron/uniTalk/flatting.jpg");
  background-size: cover;
  opacity: 1;
}

.foodbox {
  background-image: url("/images/jumbotron/uniTalk/food.jpg");
  background-size: cover;
  opacity: 1;
}

.healthbox {
  background-image: url("/images/jumbotron/uniTalk/health.jpg");
  background-size: cover;
  opacity: 1;
}

.malefashionbox {
  background-image: url("/images/jumbotron/uniTalk/malefashion.jpg");
  background-size: cover;
  opacity: 1;
}

.moneybox {
  background-image: url("/images/jumbotron/uniTalk/money.jpg");
  background-size: cover;
  opacity: 1;
}

.otherbox {
  background-image: url("/images/jumbotron/uniTalk/other.jpg");
  background-size: cover;
  opacity: 1;
}

.parttimeworkbox {
  background-image: url("/images/jumbotron/uniTalk/parttimework.jpg");
  background-size: cover;
  opacity: 1;
}

.partybox {
  background-image: url("/images/jumbotron/uniTalk/party.jpg");
  background-size: cover;
  opacity: 1;
}

.relationshipbox {
  background-image: url("/images/jumbotron/uniTalk/relationships.jpg");
  background-size: cover;
  opacity: 1;
}

.sexbox {
  background-image: url("/images/jumbotron/uniTalk/sex.jpg");
  background-size: cover;
  opacity: 1;
}

.sportbox {
  background-image: url("/images/jumbotron/uniTalk/sport.jpg");
  background-size: cover;
  opacity: 1;
}

.studybox {
  background-image: url("/images/jumbotron/uniTalk/study.jpg");
  background-size: cover;
  opacity: 1;
}

.vehiclebox {
  background-image: url("/images/jumbotron/uniTalk/car.jpg");
  background-size: cover;
  opacity: 1;
}


/*MAIN PAGE CONTAINER SETUP*/

.pagecontainer {
  padding: 0 2vh 0 2vh;
}

/*HOME PAGE*/

.icons  {
  height: 15vh;
  padding: 2.5vh 0 2.5vh 0;
  }

.iconbox {
  height: 15vh;
  background-color: #f6def3;
  /*border: 0.05px solid #10b0c7;*/
}

.homeheadings {
  text-align: center;
}

.homesentences {
  text-align: center;
}

.homebuttons {
 
}

.bloghomebox {
  height: 75vh;
  background-color: #d4f291;
  border: 0.05px solid #10b0c7;
  background-image: url("/images/home/Blog_Picture.jpg");
  background-size: cover;
  opacity: 1;
}

.unitalkhomebox {
  height: 75vh;
  background-color: #d4f291;
  border: 0.05px solid #10b0c7;
  background-image: url("/images/home/Unitalk_Picture.jpg");
  background-size: cover;
  opacity: 1;
}

.askofferhomebox {
  height: 75vh;
  background-color: #d4f291;
  border: 0.05px solid #10b0c7;
  background-image: url("/images/home/Ask_Offer_Picture.jpg");
  background-size: cover;
  opacity: 1;
}

.studysearchhomebox {
  height: 75vh;
  background-color: #d4f291;
  border: 0.05px solid #10b0c7;
  background-image: url("/images/home/Study_Search_Picture.jpg");
  background-size: cover;
  opacity: 1;
}

.socialplaceshomebox {
  height: 75vh;
  background-color: #d4f291;
  border: 0.05px solid #10b0c7;
  background-image: url("/images/home/Social_Places_Picture.jpg");
  background-size: cover;
  opacity: 1;
}


/*Blog Pages*/

.blogpostbox {
  height: 15vh;
}

.glyphicon {
    font-size: 50px;
}



/*Adjustment to 10 columns for picture bar*/  

.col-xs-2-10 {
  width: 19.8%;
  float: left;
}

.col-sm-1-10 {
  width: 9.9%;
  float: left;
}

.col-md-1-10 {
  width: 9.9%;
  float: left;
}

.col-lg-1-10 {
  width: 9.9%;
  float: left;
}

/*SOCIAL ICONS*/
 
.socialicons {
 position: relative;
 float: left; }
.socialicons .icons {
 position: relative;
 height: 5em;
 top: 0vw;	
 left: 0vw;
 width: 5vw;
 padding: 0 0 0 0;
-webkit-transition: all 200ms;
-o-transition: all 200ms;
transition: all 200ms; }

.socialicons .icons:hover {
 width: 5em; 	
		}
.socialicons .icons img {
 width: 5em; }
 

/*NAVBAR*/

.navbar {
margin-bottom: 0;
border-radius: 0; }
ul.nav li.dropdown:hover ul.dropdown-menu{ display: block; }

.blogbox {
  height: 20vh;
  background-color: #d4f291;
  border: 0.05px solid #10b0c7;
  font-family: 'Raleway', sans-serif;
  margin: 0 0;
}

.unitalkbox {
  height: 20vh;
  background-color: #d4f291;
  border: 0.05px solid #10b0c7;
  font-family: 'Raleway', sans-serif;
  margin: 0 0;
}

.inlink {
  color: white; text-shadow: black 0.3em 0.3em 0.4em;
  text-shadow: -1px 0 black, 0 1px black,
  1px 0 black, 0 -1px black;
  font-size: 4em;
  text-align: center;
}

.inlinkhead {
  color: white; text-shadow: black 0.3em 0.3em 0.4em;
  text-shadow: -1px 0 black, 0 1px black,
  1px 0 black, 0 -1px black;
  font-size: 3em;
  text-align: center;
}

.inlinkintro {
  color: white; text-shadow: black 0.3em 0.3em 0.4em;
  text-shadow: -1px 0 black, 0 1px black,
  1px 0 black, 0 -1px black;
  font-size: 1em;
  text-align: center;
}

.startbox {
  background-color: #d4f291;
  
}

.topicbox {
  height: 10vh;
  background-color: #a3a4a7;
  border: 1px solid #10b0c7;
  font-size: 1.25em;
  font-family: arial,helvetica,sans-serif;
  color: #000000;
  margin: 0 0;
}

img{
    max-width: 100%;
}

.fullwidth .mainContent {
  width: 100%; }  
 
.basestrip {
  position: relative;
  top: 0vh; 
  width: 100%; 
  color: #33d6ee;
  font-color: #141414;
  height: 2vh;
  background-color: #10b0c7;
  border: 0px solid #151515;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }
  
.thinstrip {
  position: relative;
  top: 0vh; 
  width: 100%; 
  color: #AAAAAA;
  font-color: #141414;
  height: 0.5vh;
  background-color: #36363a;
  border: 0px solid #151515;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }
  
.profilebox {
  position: relative;
  top: 0vh;  
  color: #191970;
  font-color: #191970;
  height: 60vh;
  background-color: #e9e9c9;
  border: 0px solid #151515;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }

.profileoutline {
  position: relative;
  top: 0vh;  
  color: #191970;
  font-color: #191970;
  height: 60vh;
  background-color: #e9e9c9;
  border: 0px solid #151515;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }  
  
.profilename {
  position: relative;
  top: 0vh;  
  color: #191970;
  font-color: #191970;
  height: 8vh;
  background-color: #e9e9c9;
  border: 0px solid #151515;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }
  
.profileblank {
  position: relative;
  top: 0vh;  
  color: #191970;
  font-color: #191970;
  height: 8vh;
  background-color: #e9e9c9;
  border: 0px solid #151515;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }  
  
.flat {
  position: relative;
  top: 0vh; 
  width: col-xs-1.5 col-sm-1 col-md-1 col-lg-1; 
  color: #AAAAAA;
  font-color: #141414;
  height: 2vh;
  background-color: #36363a;
  border: 0px solid #151515;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }
  
ptest {
	background: #666;
	color: white;
	padding: 1px;
}
  
.mainphoto {
  position: relative;
  top: 0vh; 
  width: 100%; 
  color: #AAAAAA;
  font-color: #141414;
  height: 40vh;
  background-color: #36363a;
  border: 0px solid #151515;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; } 
 
.boxlabel {
  position: relative;
  top: 0vh;
  font-size: 1.3em;
  font-family: arial,helvetica,sans-serif;
  color: white;
  text-align: center;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }
  
.smallboxlabel {
  position: relative;
  top: 0vh;
  font-size: 1.3em;
  font-family: arial,helvetica,sans-serif;
  color: white;
  text-align: center;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }
 
.title {
  position: relative;
  top: 6vh;
  font-size: 3vh;
  color: #111111;
  text-shadow: 1px 0 0 #dddddd, 0 -1px 0 #dddddd, 0 1px 0 #dddddd, -1px 0 0 #dddddd;
  font-family: typewriter_1942;
  text-align: center; }
  
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

/*.main_picture {
  max-width: 100%;
  width: 50%;
  height: 20px;
}*/

/*@font-face {
  font-family: "typewriter_1942";
  src: url("../fonts/1942-webfont.eot");
  src: url("../fonts/1942-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/1942-webfont.woff2") format("woff2"), url("../fonts/1942-webfont.woff") format("woff"), url("../fonts/1942-webfont.ttf") format("truetype"), url("../fonts/1942-webfont.svgtypewriter_1942{$weight}") format("svg");
  font-weight: normal;
  font-style: normal; }*/
  
/*@font-face {
  font-family: "dense";
  src: url("../fonts/dense-regular-webfont.eot");
  src: url("../fonts/dense-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dense-regular-webfont.woff2") format("woff2"), url("../fonts/dense-regular-webfont.woff") format("woff"), url("../fonts/dense-regular-webfont.ttf") format("truetype"), url("../fonts/dense-regular-webfont.svgdense{$weight}") format("svg");
  font-weight: normal;
  font-style: normal; }*/
  
/*iframe {
  border: none;
  width: 100%; }*/

/*boxfont  {
  font-family: typewriter_1942;
    color: #c32222;
  color: #AAAAAA; }*/
  
/*footer.footer{
    background-color: #222;
    color: white;
}
footer.footer .sub-menu{
    display: none;
}*/

/*h2 h3  {
  font-family: arial,helvetica,sans-serif;
  background-color: #141414;
  color: #AAAAAA; }*/
  
/*.homebar {
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-radius: 0; 
  text-align: center; 
  font-size: 100%;
  top: 0vh;
  font-size: 1.1em;} 

.topContainer {
  height: 320px;
  background-image: url("/images/Main_Picture.jpg");
  background-size: cover;
  width: 100%; }
  .topContainer .bannertitle {
    font-size: 400%;
    font-family: typewriter_1942;
    color: white;
    }*/
    
/*.sidebar {
  margin-top: 50px; }*/
    
/*#SmallBox
  background-image: url("/content/themes/sledge/images/dark_background_zoom.png");
  background-size: cover; }*/
  
/*#StudentPicture {
  background-image: url("/content/themes/sledge/images/student_picture.png");
  background-size: cover; }*/
 
/*.topsectionbox {
  position: relative;
  top: 0vh;
  font-size: 2.5em;
  font-family: arial,helvetica,sans-serif;
  color: #AAAAAA;
  font-color: #141414;
  height: 40vh;
  background-color: #e9e9c9;
  border: 1px solid #151515;
  text-align: center;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }*/
  
/*.bottomsectionbox {
  position: relative;  
  top: 0vh;
  bottom: 5vh;
  font-size: 2.5em;
  font-family: arial,helvetica,sans-serif;
  color: #AAAAAA;
  font-color: #141414;
  height: 52vh;
  background-color: #e9e9c9;
  border: 0px solid #151515;
  text-align: center;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }*/
  
/*.smallbox {
  position: relative;
  top: 0vh;
  font-size: 1.5em;
  font-family: arial,helvetica,sans-serif;
  color: #AAAAAA;
  font-color: #141414;
  height: 10vh;
  background-color: #65675d;
  border: 1px solid #151515;
  text-align: center;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }*/
   
/*.topsidebox {
  position: relative;
  top: 0vh;  
  color: #AAAAAA;
  font-color: #141414;
  height: 40vh;
  background-color: #241124;
  border: 0px solid #151515;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }*/
  
/*.bottomsidebox {
  position: relative;
  top: 0vh;  
  color: #AAAAAA;
  font-color: #141414;
  height: 52vh;
  background-color: #241124;
  border: 0px solid #151515;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }*/
 
/*.sidestrip {
  position: relative;
  top: 0vh;  
  color: #AAAAAA;
  font-color: #141414;
  background-color: #5fa50d;
  border: 0px solid #151515;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }*/