<h1>Hayfever Treatment on a Budget</h1>

<p>Hay fever or allergic rhinitis causes a range of symptoms including irritation to the nose, and can also affect your eyes, sinuses, throat, and ears. Many people experience this over spring and summer and need to seek some sort of treatment to prevent the symptoms. It is most often caused by weed, grass and tree pollens. This is an important topic to mention as students cannot afford much in the way of health care and need to know how to gain access to medicine if required.</p>

<p>There are a number of reasons why the issue of hay fever cannot be left alone, or be put up with. This includes a general feeling of irritability, a reduction in concentration levels, and poorer quality sleep. These are impacts that can simply not be ignored while studying as it is important to be able to study at your peak and perform at your best. Sleep is a key driver for this success and if this is impacted then there are subsequent impacts as a result. It is important that you seek help if required.</p>

<p>The following scenario shows a potential situation where someone needs hay fever medicine and where it may become an issue with respect to a tight budget:</p>

<p>“I recently moved away from home to start studying. At home I did not experience these symptoms that I am now and I was initially uncertain as to what the cause was. This included feeling irritable with an itchy nose, sore eyes, and a stuffy nose. I talked to one of my flatmates and they were unaware of what it was. I eventually worked out that it was hay fever by searching symptoms on the internet. This seemed like the best way to go, as it avoided the need to visit a doctor. I was now aware of the medicine that I needed, and I would be able to visit the local pharmacy to get it. At the pharmacy I was advised to go with a month’s supply of hay fever tablets and also a nasal spray. What I did not realise was that the cost for only a month’s treatment of hay fever was going to cost me at least $50. There was no way that I could afford this and I had to awkwardly decline and leave the store. I thought that it would never be possible to treat hay fever as the cost of a doctor’s appointment would only add to the medicine. It seemed like I was just going to have to put up with the symptoms and deal with the reduced concentration, poorer sleep, and subsequently worse results.”</p>

<p>The scenario above shows that pharmacy medicine for hay fever is generally unaffordable for students, and would lead to the conclusion that you would just have to put up with the symptoms. This is simply not true and this is going to be put right below.</p>

<p>The first point to make is that it is generally best to visit your doctor if you are suffering from hay fever, or anything else in general. This is because they know best about health, as they are trained to work out how to treat specific symptoms. The internet may seem like a great source of information; although, the best information is normally found from a trained professional. The solution starts by realising that you should visit a doctor to get help with this issue. At most universities and polytechnics there is a health centre that is able to provide significantly reduced health care compared with general practices. A GP (General Practitioner) at the health centre will be able to accurately work out what is required to treat your hay fever and provide you with a prescription that is much more affordable than going direct to a pharmacy.</p>

<p>Reduced costs for some health care can be provided through a Community Services Card. This card helps with the cost of prescriptions, doctor’s visits, and a range of other health services. Those who receive a student allowance will automatically be issued with this card, and others who receive only the student loan are also most likely to be eligible. Check the following website for specific requirements or how to apply if required:</p>

<p><a href="http://www.workandincome.govt.nz/individuals/a-z-benefits/community-services-card.html">http://www.workandincome.govt.nz/individuals/a-z-benefits/community-services-card.html</a></p>

<p>The cost of hay fever treatment is the critical point to reach in this discussion as it needs to be made clear how affordable this medicine is, even for students. The hay fever season can typically last for four to six months and in this case a period of six months is assumed to work out the total amount required. This includes the following:</p>
<ul>
 	<li>Initial doctor’s consultation - $0 to $20 for most universities and polytechnics</li>
 	<li>Initial prescription of Cetirizine (90 tablets) - $5</li>
 	<li>Initial prescription of Flixonase (120 sprays) - $5</li>
</ul>
<p>The Cetirizine will last for 90 days with one tablet taken daily. Flixonase will last for a maximum of two months with one spray in each nostril daily. Assume that another prescription of Cetirizine and three more prescriptions of Flixonase are required over the remainder of the six month period. This leads to the following additional costs:</p>
<ul>
 	<li>1 x Cetirizine prescription - $5</li>
 	<li>3 x Flixonase prescription - $15</li>
 	<li>4 x prescription renewal - $0 to $20 (dependent on charges policy)</li>
 	<li>Additional doctor’s consultation (may be required) - $0 to $20</li>
</ul>
<p>This means that a total amount of between $30 and $90 is required for the hay fever treatment over 6 months. The Community Services Card will also reduce prescription costs further. A cost of less than $4 per week, if not less, is achievable for most students and is affordable compared to direct pharmacy bought medicine. It may even be a good idea to put some savings aside to pay for hay fever medicine when it is required.</p>

<p>If you want to find out more about costs then visit the health centre of your university or polytechnic. Most websites have details as to the charges of appointments and what else is required in the process.</p>

<p>The following link provides more information about hay fever (seasonal rhinitis):</p>

<p><a href="http://www.allergy.org.nz/A-Z+Allergies/allergic+rhinitis+hay+fever.html">http://www.allergy.org.nz/A-Z+Allergies/allergic+rhinitis+hay+fever.html</a></p>

