<% include ../../partials/header %>

<div class="container">
    <header class="jumbotron nelsonmarlboroughjumbotron">
       <div class="container">
           <h1>Nelson / Marlborough Region</h1>
            <h4>Nelson, Blenheim</h4>
               <div class="btn-group btn-group-justified" role="group" aria-label="...">
                  <div class="btn-group" role="group">
                    <a href="ask/new"><button type="button" class="btn btn-default btn-warning">Ask</button></a>
                  </div>
                  <div class="btn-group" role="group">
                    <a href="offer/new"><button type="button" class="btn btn-default btn-success">Offer</button></a>
                  </div>
                </div>
       </div>
</div>
<div class="container">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <a href="/askOffer/nelsonMarlboroughRegion/ask"><button type="button" class="btn btn-default">View all Asks</button></a>
        </div>
        <div class="btn-group" role="group">
            <a href="/askOffer/nelsonMarlboroughRegion/offer"><button type="button" class="btn btn-default">View all Offers</button></a>
        </div>
    </div>
</div>

<% include ../../partials/footer %>