<% include ../../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="thumbnail">
                <div class="caption-full">
                    <p><%= lookingForAFlatComment.body %></p>
                    <p>
                        <em>Submitted by <%= lookingForAFlatComment.author.username %></em>
                    </p>
                    <% if(currentUser && lookingForAFlatComment.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/blog/what-is-important-to-consider-when-looking-for-a-flat/<%= lookingForAFlatComment._id %>/edit">Edit</a>
                        <form id="delete-form" action="/blog/what-is-important-to-consider-when-looking-for-a-flat/<%= lookingForAFlatComment._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footer %>