<% include ../partials/header %>

<h1>Auckland</h1>

<style>
       #map {
        height: 600px;
        width: 90%;
       }
    </style>

    <div id="map"></div>
    <script>
      function initMap(){
        // Map options
        var options = {
            zoom: 11,
            maxZoom: 20,
            minZoom: 9,
            center: {lat: -36.861, lng: 174.752},
            scrollwheel: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
            /*styles: styles*/
        }
 
        // New map
        var map = new google.maps.Map(document.getElementById('map'), options);
      
        // Array of markers
        var markers = [
            {
                coords: {lat: -36.852336, lng: 174.769106},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="https://www.auckland.ac.nz/en.html" target="_blank"><p>University of Auckland - City Campus</p></a>'
            },{
                coords: {lat: -36.882493, lng: 174.851637},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="http://www.tamaki.auckland.ac.nz/en.html" target="_blank"><p>University of Auckland - Tamaki Innovation Campus</p></a>'
            },{
                coords: {lat: -36.865879, lng: 174.773287},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="https://www.auckland.ac.nz/en.html" target="_blank"><p>University of Auckland - Newmarket Campus</p></a>'
            },{
                coords: {lat: -36.882579, lng: 174.766495},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="https://www.auckland.ac.nz/en.html" target="_blank"><p>University of Auckland - Epsom Campus</p></a>'
            },{
                coords: {lat: -36.861783, lng: 174.769578},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="https://www.auckland.ac.nz/en.html" target="_blank"><p>University of Auckland - Grafton Campus</p></a>'
            },{
                coords: {lat: -36.270110, lng: 174.795855},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="http://www.marine.auckland.ac.nz/en/about/our-institute/leigh-marine-laboratory.html" target="_blank"><p>University of Auckland - Leigh Marine Laboratory</p></a>'
            },{
                coords: {lat: -36.780223, lng: 174.754602},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="https://www.auckland.ac.nz/en.html" target="_blank"><p>University of Auckland - Waitemata Health Campus</p></a>'
            },{
                coords: {lat: -36.860883, lng: 174.770339},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="https://www.auckland.ac.nz/en.html" target="_blank"><p>University of Auckland - South Auckland Clinical Campus</p></a>'
            },{
                coords: {lat: -36.732388, lng: 174.702742},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="http://www.massey.ac.nz/massey/student-life/about-our-campuses/albany-campus/albany-campus_home.cfm" target="_blank"><p>Massey University - Albany</p></a>'
            },{
                coords: {lat: -36.847541, lng: 174.76551},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="https://www.northtec.ac.nz/locations/auckland-international" target="_blank"><p>NorthTec - Auckland</p></a>'
            },{
                coords: {lat: -36.797890, lng: 174.758316},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="http://www.aut.ac.nz/" target="_blank"><p>Auckland University of Technology (AUT) - North Campus</p></a>'
            },{
                coords: {lat: -36.853211, lng: 174.767307},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="http://www.aut.ac.nz/" target="_blank"><p>Auckland University of Technology (AUT) - City Campus</p></a>'
            },{
                coords: {lat: -36.985490, lng: 174.881869},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="http://www.aut.ac.nz/" target="_blank"><p>Auckland University of Technology (AUT) - South Campus</p></a>'
            },{
                coords: {lat: -36.954777, lng: 174.872765},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="https://www.manukau.ac.nz/campus-facilities/campuses/mit-otara" target="_blank"><p>Manukau Institute of Technology (MIT) - Otara Campus</p></a>'
            },{
                coords: {lat: -36.843919, lng: 174.769015},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="http://www.nzmaritime.com/about-us/our-campuses/new-zealand-maritime-school-city-campus" target="_blank"><p>Manukau Institute of Technology (MIT) - New Zealand Maritime School</p></a>'
            },{
                coords: {lat: -36.943206, lng: 174.793041},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="https://www.manukau.ac.nz/campus-facilities/campuses/mit-mangere" target="_blank"><p>Manukau Institute of Technology (MIT) - Mangere Campus</p></a>'
            },{
                coords: {lat: -36.993965, lng: 174.877144},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="https://www.manukau.ac.nz/campus-facilities/campuses/mit-manukau" target="_blank"><p>Manukau Institute of Technology (MIT) - Manukau Campus</p></a>'
            },{
                coords: {lat: -36.880128, lng: 174.706728},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="http://www.unitec.ac.nz/about-us/our-place/mt-albert-campus" target="_blank"><p>Unitec - Mt Albert Campus</p></a>'
            },{
                coords: {lat: -36.878690, lng: 174.632859},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="http://www.unitec.ac.nz/about-us/our-place/waitakere-campus" target="_blank"><p>Unitec - Waitakere Campus</p></a>'
            },{
                coords: {lat: -36.864465, lng: 174.771581},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="http://themindlab.com/" target="_blank"><p>The Mind Lab by Unitec</p></a>'
            },{
                coords: {lat: -36.868333, lng: 174.778384},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="http://uicpa.ucol.ac.nz/" target="_blank"><p>UCOL Institute of Commercial Photography</p></a>'
            },{
                coords: {lat: -36.849633, lng: 174.765338},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="https://www.eit.ac.nz/campus/auckland/" target="_blank"><p>Eastern Institute of Technology - Auckland</p></a>'
            },{
                coords: {lat: -36.852749, lng: 174.764245},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="https://www.weltec.ac.nz/" target="_blank"><p>Wellington Institute of Technology (Weltec) - Auckland</p></a>'
            },{
                coords: {lat: -36.855266, lng: 174.762769},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="https://www.whitireia.ac.nz/about-us/where-we-are/auckland-campus/" target="_blank"><p>Whitireia New Zealand - Auckland Campus</p></a>'
            },{
                coords: {lat: -36.848162, lng: 174.767763},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="https://www.victoria.ac.nz/about/explore-victoria/campuses/auckland" target="_blank"><p>Victoria University of Wellington - Auckland</p></a>'
            },{
                coords: {lat: -36.860841, lng: 174.760300},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="https://www.nmit.ac.nz/about/campuses/global-campus/" target="_blank"><p>Nelson Marlborough Institute of Technology (NMIT) - Auckland</p></a>'
            },{
                coords: {lat: -36.971487, lng: 174.776087},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="http://www.tpp.ac.nz/campus/auckland/" target="_blank"><p>Tai Poutini Polytechnic - Trades Auckland</p></a>'
            },{
                coords: {lat: -36.847947, lng: 174.759375},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="http://www.tpp.ac.nz/campus/mainz-auckland/" target="_blank"><p>Tai Poutini Polytechnic - Mainz Auckland</p></a>'
            },{
                coords: {lat: -36.855962, lng: 174.762162},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="http://www.otago.ac.nz/auckland-centre/index.html" target="_blank"><p>University of Otago - Auckland Campus</p></a>'
            },{
                coords: {lat: -36.852022, lng: 174.764416},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="https://auckland.op.ac.nz/" target="_blank"><p>Otago Polytechnic - Auckland</p></a>'
            },{
                coords: {lat: -36.849669, lng: 174.765422},
                iconImage: '/images/mapMarkers/university.png',
                content: '<a href="https://www.sit.ac.nz/campus/Auckland" target="_blank"><p>Southern Institute of Technology (SIT) - Auckland</p></a>'
            }]  
            
        // Loop through markers    
        for(var i = 0; i < markers.length; i++){
          addMarker(markers[i]);
        }  
        
        //Add marker function
        function addMarker(props){
            var marker = new google.maps.Marker({
                position: props.coords,
                map: map
            });
          
            // Check for custom icon   
            if(props.iconImage){
               //Set icon image
               marker.setIcon(props.iconImage);
            }
                
            if(props.content){
                var infoWindow = new google.maps.InfoWindow({
                content: props.content 
            });
            
            marker.addListener('click', function(){
                infoWindow.open(map, marker);
            });
            
        
        }
      }
    }
    var markerCluster = new MarkerClusterer(map, markers, {imagePath: '/images/mapMarkers/m1.png'});  <!--// CHECK THIS-->
</script>
<script src="/maps/markerclusterer.js"></script> <!--// CHECK THIS-->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key= AIzaSyCXXawr3FmnkIOO6Fz7zrRvcoUxzLEhUj0 &callback=initMap">
</script>



<% include ../partials/footer %>