<% include ../../../partials/header %>

<% include talkToARecruitmentAgentAndStartYourCareer %>

<div class="container">
    <div class="well">
        <a class="btn btn-primary" href="talkToARecruitmentAgentAndStartYourCareer/new">Add new comment</a>
    </div>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% talkToARecruitmentAgentComment.reverse().forEach(function(talkToARecruitmentAgentComment){ %>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="thumbnail">
                    <div>
                        <p><%= talkToARecruitmentAgentComment.blogComment %></p>
                    </div>
                    <div>
                        <a href="/blog/talkToARecruitmentAgentAndStartYourCareer/<%= talkToARecruitmentAgentComment._id %>" class="btn btn-primary">Read comment</a>
                    </div>
                </div>   
            </div>
        <% }); %>
    </div>
</div> 
<div class="container">
    <div class= "text-right">
        <a class="btn btn-success" href="/blog/">Return to blog index</a>
    </div>
</div>

<% include ../../../partials/footer %>