<% include ../../../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="thumbnail">
                <div class="caption-full">
                    <p><%= talkToARecruitmentAgentComment.blogComment %></p>
                    <p>
                        <em>Submitted by <%= talkToARecruitmentAgentComment.author.username %></em>
                    </p>
                    <% if(currentUser && talkToARecruitmentAgentComment.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/blog/talkToARecruitmentAgentAndStartYourCareer/<%= talkToARecruitmentAgentComment._id %>/edit">Edit</a>
                        <form id="delete-form" action="/blog/talkToARecruitmentAgentAndStartYourCareer/<%= talkToARecruitmentAgentComment._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class= "text-right">
        <a class="btn btn-success" href="/blog/talkToARecruitmentAgentAndStartYourCareer">Return to blog post</a>
    </div>
</div>

<% include ../../../partials/footer %>