<% include ../../partials/header %>

<div class="container">
    <header class="jumbotron">
       <div class="container">
           <h1>Flatting</h1> 
           <p>
               <a class="btn btn-primary btn-lg" href="flatting/new">Add new uniTalk topic</a>
           </p>
       </div>
    </header>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% flatting.forEach(function(flatting){ %>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <div class="caption">
                        <h4><%= flatting.title %></h4>
                    </div>
                    <div class="description">
                        <p><%- flatting.body.substring(0, 100) %>...</p>
                    </div>
                    <p>
                        <a href="/uniTalk/flatting/<%= flatting._id %>" class="btn btn-primary">Read topic</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>    
</div>

<% include ../../partials/footer %>