<h1>Take on the challenge to correct your habits</h1>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        
        <p>Everyone has a number of habits that are hard to avoid doing, including some that are very common. We have created a list of some common habits and challenge you to take these on. See how many apply to you in the following list:</p>
        <ul>
            <li>Drinking coffee or energy drinks: Challenge yourself to go without a caffeine boost for at least a week and then longer if you can.</li>
            
            <li>Eating takeaways: See how long you can go without the temptation to take the shortcut of not cooking.</li>
            
            <li>Drinking any day of the week: Limit your drinking to Friday or Saturday night and make most days of the week safe from hangovers.</li>
            
            <li>Ignoring the alarm and pressing the snooze button: Get up as soon as the alarm goes off and stop delaying the inevitable.</li>
            
            <li>Arriving late to classes or commitments: Your challenge is to sort this out now to avoid taking the habit into work and running late for important meetings.</li>
            
            <li>Texting in bed or while in class: You need to put the phone somewhere else and find a way to avoid it entirely during these times.</li>
            
            <li>Taking clothes out of the dirty laundry pile: If the clothes are dirty then seriously avoid wearing them again, especially the underwear, as this is just nasty.</li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <ul>       
            <li>Leaving during the middle of class to use the toilet: Anticipate the need before your class or wait until after, as it will be considered impolite to leave some meetings later on.</li>
            
            <li>Distracted by libido: This will be hard to ignore at this age and the challenge is to put any distraction from your libido to time outside of study.</li>
            
            <li>Visiting the supermarket on a frequent basis: Try to limit the number of visits to a maximum of two a week and avoid the temptation to spend money on non-essential food items.</li>
            
            <li>Spending any extra money straight away: Challenge yourself to put any extra money away for later for a purpose that is worthwhile.</li>
            
            <li>Borrowing items from others in your class: Make sure that you take all of the equipment needed for class and only borrow if absolutely necessary.</li>
        </ul>
        
        <p>The challenge is to recognise your habits and find ways to beat them. See how many you can avoid doing and find other habits that are not listed here.</p>
    </div>    
</div>            
        
