<% include ../../../partials/header %>

<% include takeSomeTimeToThinkAboutDepression %>

<div class="container">
    <div class="well">
        <a class="btn btn-primary" href="takeSomeTimeToThinkAboutDepression/new">Add new comment</a>
    </div>
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        
    </div>
</div> 
<div class="container">
    <div class= "text-right">
        <a class="btn btn-success" href="/blog/">Return to blog index</a>
    </div>
</div>

<% include ../../../partials/footer %>