<% include ../../partials/header %>

<h1>Auckland</h1>

<style>
       #map {
        height: 950px;
        width: 90%;
       }
</style>

    <div id="map"></div>
    <script>
      function initMap(){
        // Map options
        var options = {
            zoom: 15,
            maxZoom: 19,
            minZoom: 12,
            center: {lat: -36.853, lng: 174.764},
            scrollwheel: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
            /*styles: styles*/
        }
 
        // New map
        var map = new google.maps.Map(document.getElementById('map'), options);
      
        // Array of markers
        var markers = [
            {
                coords: {lat: -36.849687, lng: 174.764204},
                iconImage: '/images/mapMarkers/bar_cocktail.png',
                content: '<a href="http://www.bar101.co.nz/" target="_blank"><p>Bar 101 - Auckland</p></a>'
            },{
                coords: {lat: -36.847184, lng: 174.766382},
                iconImage: '/images/mapMarkers/bar_cocktail.png',
                content: '<a href="https://www.cassettenine.com/" target="_blank"><p>Cassette Nine</p></a>'
            },{
                coords: {lat: -36.849459, lng: 174.764192},
                iconImage: '/images/mapMarkers/bar_cocktail.png',
                content: '<a href="https://globeauckland.wordpress.com/" target="_blank"><p>Habana Joes</p></a>'
            },{
                coords: {lat: -36.845433, lng: 174.767211},
                iconImage: '/images/mapMarkers/bar_cocktail.png',
                content: '<a href="https://www.thejefferson.co.nz/" target="_blank"><p>The Jefferson</p></a>'
            },{
                coords: {lat: -36.851382, lng: 174.763847},
                iconImage: '/images/mapMarkers/cinema.png',
                content: '<a href="https://www.eventcinemas.co.nz/cinema/queen-street" target="_blank"><p>Event Cinemas</p></a>'
            },{
                coords: {lat: -36.867504, lng: 174.776494},
                iconImage: '/images/mapMarkers/bowling.png',
                content: '<a href="http://www.newmarketbowling.co.nz/" target="_blank"><p>Newmarket Tenpin Bowling</p></a>'
            },{
                coords: {lat: -36.857440, lng: 174.748433},
                iconImage: '/images/mapMarkers/billiard-2.png',
                content: '<a href="http://www.ponsonbypoolhall.co.nz/" target="_blank"><p>Ponsonby Pool Hall</p></a>'
            },{
                coords: {lat: -36.858150, lng: 174.757390},
                iconImage: '/images/mapMarkers/music_live.png',
                content: '<a href="http://studiovenue.co.nz/" target="_blank"><p>Studio The Venue</p></a>'
            },{
                coords: {lat: -36.857645, lng: 174.757247},
                iconImage: '/images/mapMarkers/dancinghall.png',
                content: '<a href="http://www.kroad.com/nightlife/nightclubs/" target="_blank"><p>Club Duo</p></a>'
            },{
                coords: {lat: -36.857852, lng: 174.758564},
                iconImage: '/images/mapMarkers/dancinghall.png',
                content: '<a href="http://inkbar.co.nz/" target="_blank"><p>Ink Bar</p></a>'
            },{
                coords: {lat: -36.857802, lng: 174.758667},
                iconImage: '/images/mapMarkers/dancinghall.png',
                content: '<a href="http://www.kroad.com/nightlife/nightclubs/" target="_blank"><p>Le Box</p></a>'
            },{
                coords: {lat: -36.857714, lng: 174.760689},
                iconImage: '/images/mapMarkers/dancinghall.png',
                content: '<a href="http://www.neckofthewoods.co.nz/" target="_blank"><p>Neck of The Woods</p></a>'
            },{
                coords: {lat: -36.856528, lng: 174.758729},
                iconImage: '/images/mapMarkers/dancinghall.png',
                content: '<a href="http://www.nzredbar.co/" target="_blank"><p>Red Bar</p></a>'
            }
            ]
            
            
        // Loop through markers    
        for(var i = 0; i < markers.length; i++){
          addMarker(markers[i]);
        }  
        
        //Add marker function
        function addMarker(props){
            var marker = new google.maps.Marker({
                position: props.coords,
                map: map
            });
          
            // Check for custom icon   
            if(props.iconImage){
               //Set icon image
               marker.setIcon(props.iconImage);
            }
                
            if(props.content){
                var infoWindow = new google.maps.InfoWindow({
                content: props.content 
            });
            
            marker.addListener('click', function(){
                infoWindow.open(map, marker);
            });
            
        
        }
      }
    }
    var markerCluster = new MarkerClusterer(map, markers, {imagePath: '/images/mapMarkers/m1.png'});  <!--// CHECK THIS-->
</script>
<script src="/maps/markerclusterer.js"></script> <!--// CHECK THIS-->
<script async defer
src="https://maps.googleapis.com/maps/api/js?key= AIzaSyCXXawr3FmnkIOO6Fz7zrRvcoUxzLEhUj0 &callback=initMap">
</script>



<% include ../../partials/footer %>