<% include ../../partials/header %>

<div class="container">
    <header class="jumbotron">
       <div class="container">
           <h1>Southland Region</h1>
            <h4>Gore, Invercargill</h4>
               <div class="btn-group btn-group-justified" role="group" aria-label="...">
                  <div class="btn-group" role="group">
                    <a href="#"><button type="button" class="btn btn-default btn-warning">Ask</button></a>
                  </div>
                  <div class="btn-group" role="group">
                    <a href="#"><button type="button" class="btn btn-default btn-success">Offer</button></a>
                  </div>
                </div>
       </div>
</div>

<% include ../../partials/footer %>