<% include ../../partials/header %>

<h1>Flatting</h1>

<h4><a href="/blog/whatIsImportantToConsiderWhenLookingForAFlat">What is important to consider when looking for a flat?</a></h4>

<h4><a href="/blog/beHonestAboutSexWithYourFlatmates">Be honest about sex with your flatmates.</a></h4>

<h4><a href="/blog/whatToConsiderWhenAFriendStaysOverAtYourFlat">What to consider when a friend stays over at your flat.</a></h4>

<% include ../../partials/footer %>