<% include ../../partials/header %>

<h1>Flatting</h1>


<div class = "container row blogpostbox">
    <div class = "col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h4>What is important to consider when looking for a flat?</h4>
    </div>
    <div class = "col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a href="/blog/posts/whatIsImportantToConsiderWhenLookingForAFlat"><span class = "glyphicon glyphicon-chevron-right"></span><span class = "glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<div class = "container row blogpostbox">
    <div class = "col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h4>Be honest about sex with your flatmates.</h4>
    </div>
    <div class = "col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a href="/blog/posts/bHASWYF"><span class = "glyphicon glyphicon-chevron-right"></span><span class = "glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<div class = "container row blogpostbox">
    <div class = "col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h4>What to consider when a friend stays over at your flat.</h4>
    </div>
    <div class = "col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a href="/blog/posts/whatToConsiderWhenAFriendStaysOverAtYourFlat"><span class = "glyphicon glyphicon-chevron-right"><span class = "glyphicon glyphicon-chevron-right"></span></span></a>
    </div>
</div>

<% include ../../partials/footer %>