<% include ../../partials/header %>

<h1>Health</h1>

<div class = "container row blogpostbox">
    <div class = "col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h4>Hayfever treatment on a budget.</h4>
    </div>
    <div class = "col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a href="/blog/posts/hayfeverTreatmentOnABudget"><span class = "glyphicon glyphicon-chevron-right"></span><span class = "glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<div class = "container row blogpostbox">
    <div class = "col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h4>Take some time to think about depression.</h4>
    </div>
    <div class = "col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a href="/blog/posts/takeSomeTimeToThinkAboutDepression"><span class = "glyphicon glyphicon-chevron-right"></span><span class = "glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<div class = "container row blogpostbox">
    <div class = "col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h4>How to sleep effectively while studying.</h4>
    </div>
    <div class = "col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a href="/blog/posts/howToSleepEffectivelyWhileStudying"><span class = "glyphicon glyphicon-chevron-right"></span><span class = "glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>

<% include ../../partials/footer %>