<% include ../../partials/header %>

<h1>Other</h1>

<div class = "container row blogpostbox">
    <div class = "col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h4>Where you are in life right now is just fine.</h4>
    </div>
    <div class = "col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a href="/blog/posts/whereYouAreInLifeRightNowIsJustFine"><span class = "glyphicon glyphicon-chevron-right"></span><span class = "glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<div class = "container row blogpostbox">
    <div class = "col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h4>Take on the challenge to correct your habits.</h4>
    </div>
    <div class = "col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a href="/blog/posts/takeOnTheChallengeToCorrectYourHabits"><span class = "glyphicon glyphicon-chevron-right"></span><span class = "glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<div class = "container row blogpostbox">
    <div class = "col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h4>Find your flaws and learn to improve on them.</h4>
    </div>
    <div class = "col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a href="/blog/posts/findYourFlawsAndLearnToImproveOnThem"><span class = "glyphicon glyphicon-chevron-right"></span><span class = "glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<div class = "container row blogpostbox">
    <div class = "col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h4>Be social and build your network.</h4>
    </div>
    <div class = "col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a href="/blog/posts/beSocialAndBuildYourNetwork"><span class = "glyphicon glyphicon-chevron-right"></span><span class = "glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>

<% include ../../partials/footer %>