<% include ../../partials/header %>

<h1>Parties</h1>

<div class = "container row blogpostbox">
    <div class = "col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h4>Ideas for your next party.</h4>
    </div>
    <div class = "col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a href="/blog/posts/ideasForYourNextParty"><span class = "glyphicon glyphicon-chevron-right"></span><span class = "glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<div class = "container row blogpostbox">
    <div class = "col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h4>Solving the toilet shortage problem at parties.</h4>
    </div>
    <div class = "col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a href="/blog/posts/solvingTheToiletShortageProblemAtParties"><span class = "glyphicon glyphicon-chevron-right"></span><span class = "glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>

<% include ../../partials/footer %>