<% include ../../partials/header %>

<h1>Parties</h1>

<h4><a href="/blog/posts/ideasForYourNextParty">Ideas for your next party.</a></h4>

<h4><a href="/blog/posts/solvingTheToiletShortageProblemAtParties">Solving the toilet shortage problem at parties.</a></h4>


<% include ../../partials/footer %>