<% include ../../partials/header %>

<h1>Part-Time Work</h1>

<h4><a href="/blog/posts/getTheBalanceRightWithPartTimeWork">Get the balance right with part-time work.</a></h4>

<h4><a href="/blog/posts/whatIdeasAreThereForFindingPartTimeWork">What ideas are there for finding part time work?</a></h4>

<% include ../../partials/footer %>