<% include ../../partials/header %>

<h1>Study</h1>

<div class = "container row blogpostbox">
    <div class = "col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h4>Study is stressful. Find ways to manage it.</h4>
    </div>
    <div class = "col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a href="/blog/posts/studyIsStressfulFindWaysToManageIt"><span class = "glyphicon glyphicon-chevron-right"></span><span class = "glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<div class = "container row blogpostbox">
    <div class = "col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h4>Ways to have fun outside of study.</h4>
    </div>
    <div class = "col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a href="/blog/posts/waysToHaveFunOutsideOfStudy"><span class = "glyphicon glyphicon-chevron-right"></span><span class = "glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>
<div class = "container row blogpostbox">
    <div class = "col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h4>How to overcome procrastination.</h4>
    </div>
    <div class = "col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a href="/blog/posts/howToOvercomeProcrastination"><span class = "glyphicon glyphicon-chevron-right"></span><span class = "glyphicon glyphicon-chevron-right"></span></a>
    </div>
</div>

<% include ../../partials/footer %>