<% include ../../partials/header %>

<h1>Study</h1>

<h4><a href="/blog/studyIsStressfulFindWaysToManageIt">Study is stressful. Find ways to manage it.</a></h4>

<h4><a href="/blog/waysToHaveFunOutsideOfStudy">Ways to have fun outside of study.</a></h4>

<h4><a href="/blog/howToOvercomeProcrastination">How to overcome procrastination.</a></h4>

<% include ../../partials/footer %>