<h1>Ways to have fun outside of study</h1>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        
        <p>There are a range of fun ideas for having a great time outside of study. We have started a list with a few ideas for making life during study more interesting:</p>
            <ul>
                <li>Venture out on an unplanned road trip for the weekend to a randomly selected location.</li>
                
                <li>Organise a water fight with water balloons that are partially frozen as ice slushy.</li>
                
                <li>Hold a karaoke night where everyone is required to sing randomly chosen songs.</li>
                
                <li>Find somewhere local to pitch a tent for the night and sleep out under the stars.</li>
                
                <li>Get fully involved in a local sports game including wearing team colours and face paint.</li>
            </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <ul>      
                <li>In a random dark place of your choosing, play a strip version of your favourite card game.</li>
                
                <li>Have your own mock fashion show and pick the best of your clothes to show off.</li>
                
                <li>Create your own pattern of falling dominoes and record it all on video.</li>
                
                <li>Find a movie and select an action that everyone is required to do for a chosen keyword or phrase mentioned in the movie.</li>
                
            </ul>
        <p>Those are a few ideas of how to have fun while studying. You can share your idea as a comment below or email <a href="mailto:mail@sledge.co.nz">mail@sledge.co.nz</a></p>
    </div>    
</div>        