<h1>What is a fair amount to pay for driving on a trip?</h1>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <p>The driving cost is one of the main costs to sort out after a trip away with friends. The fuel cost is generally considered to be fair for the trip, but how about the cost of vehicle maintenance and keeping the vehicle current? How about an additional driving charge for taking on the driving task? We look at a typical calculation that may be carried out at the end of a trip.</p>
        <p>The fuel is considered to be one of the main costs for driving on a trip and can be calculated as follows:</p>
        <p>Fuel Cost Per Person = Fuel Price ($/L) x Fuel Usage (L) / Number of People</p>
        <p>The fuel price is taken as the current price at the pump. The fuel usage can be determined by using the fuel gauge and keeping track of how much of a tank is consumed. This could alternatively be recorded by the distance the vehicle travels on the trip in comparison to the typical range of the vehicle on a full tank of fuel.<br />
        The costs that may be overlooked are the wear on the vehicle and the costs of keeping the vehicle current. This includes the following:</p>
            <ul>
                <li>Warrant of Fitness</li>
                <li>Service</li>
                <li>Tyres</li>
                <li>Engine (including cam belt and battery)</li>
                <li>Other maintenance</li>
                <li>Insurance</li>
            </ul>
        <p>The cost could be calculated as follows:</p>
        <p>Vehicle maintenance costs = Total costs for year ($) x Distance of trip (km) / Distance per year (km)</p>
        <p>When you are with friends, there is a question of whether these costs need to be added to the cost of fuel. If you are typically sharing the driving in different friend’s vehicles then the costs are likely to balance out. If this is a long one-off trip then it may be fair for others to pay.</p>
        <p>Other considerations include:</p>
            <ul>
                <li>The remaining passengers cover the total cost of fuel for the trip (driver pays nothing).</li>
                <li>An additional driving charge is added on to make it more attractive for the friend to drive others.</li>
            </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">        
            
        <p><strong>Example</strong></p>
        <p>An example of how to calculate a fair driving cost is shown with approximate values as follows:</p>
        <p>A group of 8 friends go away for a weekend trip, with 4 people in each car. The total return drive from home to the destination is 250km (including driving at the destination). The current fuel price is $1.899 per litre. The car has a typical range of 500km on a full tank at a size of 50L.</p>
        <p>The car has a usual usage of 8000km per year. The warrant of fitness and service costs are $400 per year. The tyres have been replaced recently at a cost of $750 and are expected to last for two years. The engine has had no components replaced recently; although, the cam belt has a typical replacement frequency of every 80000km and costs $550. Other general maintenance is $300 per year. The insurance for the vehicle is $600 per year.</p>
        <p>Fuel cost per person = $1.899/L x (250km/500km) x 50L / 4 people = $11.87 or ~$12</p>
        <p>Vehicle costs per year =<br />
        (WOF + service) + (tyres/ 2 years) + (Cambelt x usage per year/ replacement frequency) + (general maintenance) + (insurance)</p>
        <p>= $400 + $375 + $550*(8000/80000) + $300 + $600</p>
        <p>= $1730</p>
        <p>Vehicle costs per person = $1730 x (250km/8000km) / 4 people = $13.52 or ~$14</p>
        <p>Total cost per person = $25.38 or ~ $25</p>
        <p>In this example, the fuel cost is less than the other vehicle maintenance and current costs.</p>
        <p>If you have an opinion on what you think is fair for driving costs then leave a comment on this post.</p>
    </div>
</div>