<h1>What ideas are there for finding part-time work?</h1>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <p>Part-time work is a challenge to find at times, and we would like to know what ideas are out there for finding it.
        The following scenario may be familiar to a number of students:</p>
        
        <p><blockquote>"You have started into the second year of university. This is the first year where you will be on your own. You moved away from your parents and your hometown a year ago, and into the Halls of Residence. Money was not an issue last year as all of the costs were generally covered through living in the halls; however, the second year is a different story, as you are now in a flat with a group of your friends.</p>
        
        <p>After working over the summer, you have managed to save some money to start off the year. The student allowance has been coming in for a few weeks; although, this is nowhere near enough to cover all of the costs of living. The costs such as rent and bills are new to you, and there is no way that the money from the summer job will cover it.</p>
        
        <p>You have realised that finding a part time job is essential to cover your living costs. The trouble is that you have already been looking for work for a couple of weeks and have not been successful in finding anything. You are now quite desperate to find work as your bank balance will likely drop into the negatives in the next couple of weeks. Options such as calling your parents for money, or taking on the odd one-off jobs, are not going to work for the whole year.</p>
        
        <p>The main question for you is: 'how do I find part time work?' Currently, you have no answer and it seems like all of the available jobs are taken."</blockquote></p>
        
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        
        <p>This scenario highlights the situation that a large number of students may find themselves facing at some time while studying at university. We would like to be able to solve this problem, to remove the stress of finding work, and ensure that students have a comfortable amount of money to live on each week.</p>
        
        <p>Our current suggestions include the following:</p>
        
            <ul>
                <li>Consider all potential areas of part time work that could include: retail, hospitality, manual labour, tutoring, takeaway, office internship (one day a week?).</li>
                
                <li>If there are no available jobs in the area then consider looking further away, even if that means you need to drive or take a bus.</li>
                
                <li>Make your CV presentable to potential employers, which includes asking someone in the know to review it.</li> 
                
                <li>Be willing to actively approach workplaces in person or by call and show enthusiasm for working there and what you can offer.</li>
                
                <li>There may be an option to look for a job with friends to make the process less daunting and you may be able to both find a job at the same time (make sure that it is appropriate to ask for two jobs at the same place - maybe you could do different shifts if need be?).</li>
                
                <li>You may be able to tutor someone at high school or at an earlier stage of University. If you have expert areas of knowledge, and an ability to teach others, then this may be a job for you. Finding people to tutor will involve an active search, such as asking a school office and leaving contact details.</li>
            </ul>
        
        <p>Those are are few suggestions to start with. We would like to know what your ideas are for finding part time work. Share your comments below to help those out there looking for part time work.</p>
    </div>
</div>