<h1>How to overcome procrastination</h1>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p>Procrastination is a barrier to overcome whenever you are working on a difficult task, or one that is hard to get motivated about. It can be all too tempting to put off what you are working on, and be distracted by other things that are less important, or not even important at all.</p>
        <p>We have created a process for overcoming procrastination when you next become distracted:</p>
        <p><strong><u>Stop Distractions</u></strong></p>
        <p>Start by moving away from whatever you are working on, when you start to procrastinate. This is in order to stop squandering any more time and remove distractions. Ask yourself the following questions about distractions:</p>
            <li>What are immediate distractions that I need to sort out before I start this task?</li>
        <p>These are distractions that need to be sorted out and cannot be put off such as: eating food, drinking water, and using the toilet. If you are tired then it may be a good idea to catch up on some sleep first too, even if only for a 15-minute power nap.</p>
            <li>What are other distractions that can be put off until later?</li>
        <p>There will be a number of things that would be desirable to sort out at the time; although, they are unlikely to be essential right away. This includes tasks such as: cleaning dishes, vacuuming, and washing clothes. Convince yourself that these other things can be put off. Set aside available time later on and convince yourself that they can be left until then.</p>
        <p>When these distractions are removed it will be easier to start focussing on the task itself.</p>
        <p><strong><u>Define the task</u></strong></p>
        <p>The task needs to be defined in order to achieve it. Any uncertainty in what the task requires will likely make it harder to start. Define the task with the following questions:</p>
            <li>What is the task that I am trying to achieve?</li>
        <p>Try to be as specific as possible about the task and anything that is required in order to achieve it. Any details that are not clear need to be defined. If you need to write it out, or brainstorm ideas, then now would be a good time.</p>
            <li>When does the task need to be completed by?</li>
        <p>The task could have a set time frame with a deadline at the end, or there could be no limit on how long the task can take, and it may require you to make a decision on a suitable length of time. Set an end time and use this to focus yourself on the task.</p>
            <li>How can I break this task down into smaller goals?</li>
        <p>The task can be broken down into smaller steps based on the end time determined previously. Goals could be created for the next hour/ day/ week, or whatever period is most relevant. The next goal would be set at a time that is close enough in the future to motivate you, without becoming overwhelmed by the overall task. Goals would ideally be SMART – Specific, Measureable, Attainable, Realistic and Time-bound.</p>
        <p>Now that the task is defined, it will be easier to start it without finding excuses to procrastinate. </p>
        <p><strong><u>Remove concerns</u></strong></p>
        <p>The task is now ready to start once distractions are removed, and the next step is defined. The process of starting the task can be hard to find motivation for, and may be impacted by your concerns of how perfect this is, or whether it will lead to failure. Consider the following questions as examples around concerns:</p>
            <li>How perfect does the task need to be at the start?</li>
        <p>If you are concerned about the perfection of the task, then find a way to carry it out roughly at the start, and refine it in later stages. Creating something that is perfect from the start is very challenging, and is likely to be an unreasonable expectation.</p>
            <li>What if I am concerned about failure in this task?</li>
        <p>Consider that not starting the task means that you will definitely fail to complete it; whereas, making an attempt will take you closer to success. It is possible that a number of attempts are required, and each attempt will generally take you closer to the point of success.</p>
        <p>If there are any other concerns that you have that are stopping you from starting, then work out how these can be overcome.</p>
        
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">    
        
        <p><strong><u>Start and take action</u></strong></p>
        <p>Start by taking any action that works towards the completion of the next step. Once you have started on an action, it will be easier to progress into subsequent actions.</p>
        <p>If you have trouble starting even the smallest action, then you can set a length of time that you will guarantee to attempt it for. If after this time, you have not achieved anything, then it will be possible to re-evaluate how to go about it. It is likely that the first action, or period of time, is all that you need to get started and keep the momentum going.</p>
        <p>This is where we leave it up to you. See how much you can achieve now that you have overcome procrastination. </p>
        <p><strong><u>Take a break or end the step</u></strong></p>
        <p>When you reach a point where you cannot make any further progress, it may be time to take a break, or end the step.<br />
        A break may be required to remove any new distractions that have been created since starting the task, or it may be needed to check that you are on target for the current goal.</p>
        <p>The end of the step will be when you have achieved the current goal. </p>
        <p><strong><u>Review the step</u></strong></p>
        <p>At the end of each step, it is important to work out what progress has been made, and whether you have achieved your goal. Consider the following questions: </p>
            <li>How achievable was the goal for this step?</li>
        <p>Evaluate whether you were able to achieve the goal and consider whether it was too easy or more difficult than expected. </p>
            <li>What changes need to be made for the next step?</li>
        <p>The goal for the next step can be adjusted as required, provided that you are on track for finishing the task at the end of the time available.</p>
        <p>By clarifying the next step, it will be easier to make a start to the task when you next pick it up.</p>
        <p>Procrastination can be overcome by removing distractions, defining the task, and removing any concerns about the task. To make a start, all it takes is a single action to create momentum, and continue towards the next goal.  Goals can be managed along the way towards the completion of the task.</p>
        <p>There are a number of resources available for overcoming procrastination:</p>
            <ul>
                <li><p>MindTools has a three step process for dealing with procrastination:</p>
                <a href="https://www.mindtools.com/pages/article/newHTE_96.htm">https://www.mindtools.com/pages/article/newHTE_96.htm</a></p></li>
                <li><p>Entrepreneur has 15 ways to overcome procrastination and get stuff done:</p>
                <a href="https://www.entrepreneur.com/article/240262">https://www.entrepreneur.com/article/240262</a></p></li>
                <li><p>WikiHow looks at how to overcome procrastination using self-talk:</p>
                <a href="http://www.wikihow.com/Overcome-Procrastination-Using-Self-Talk">http://www.wikihow.com/Overcome-Procrastination-Using-Self-Talk</a></p></li>
                <li><p>Forbes has 15 tricks to overcome procrastination:</p>
                <a href="http://www.forbes.com/sites/francesbooth/2015/04/21/15-tricks-to-overcome-procrastination/#619575fd7f2f">http://www.forbes.com/sites/francesbooth/2015/04/21/15-tricks-to-overcome-procrastination/#619575fd7f2f</a></p></li>
                <li><p>Keep Inspiring has 5 techniques for overcoming procrastination:</p>
                <a href=" https://custom-writing.org/blog/how-to-stop-procrastinating"> https://custom-writing.org/blog/how-to-stop-procrastinating</a></p></li>
                <li><p>And finally, here is a TED talk presented by Tim Urban:</p>
                <a href="https://www.youtube.com/watch?v=arj7oStGLkU">https://www.youtube.com/watch?v=arj7oStGLkU</a></p></li>
            </ul>
        <p>Now stop procrastinating, and get on with it.</p>
        
    </div>
</div>