<% include ../../../partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Create a new offer</h1>
        <div style="width: 66.667%; margin: 25px auto;">
            <form action="/askOffer/auckland/offer" method="POST">
                <div class="form-group">
                   <label>What are you offering?</label>
                   <input class="form-control" type="text" name="title" placeholder="Offer title"> 
                </div>
                <div class="form-group">
                    <label>Describe the details:</label>
                    <textarea class="form-control" name="body" rows="6" placeholder="Describe the details"></textarea>
                </div>
                <div class="form-group">
                    <label>What is your contact email? (Required)</label>
                    <input class="form-control" type="text" name="contactEmail" placeholder="Contact email">
                </div>
                <div class="form-group">
                    <label>How else can you be contacted? (Optional)</label>
                    <input class="form-control" type="text" name="otherContact" placeholder="Other contact information">
                </div>
                <div class="form-group">
                   <label>What is the hourly rate for your offer? (enter $0 if N/A)</label>
                   <input style="width: 33.333%" class="form-control" type="number" name="hourlyRate" placeholder="Hourly rate" min="0.00" step="0.50"> 
                </div>
               
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/askOffer/auckland/index">Go Back</a>
        </div>
    </div>
</div>
<% include ../../../partials/footer %>