<h1>Find your flaws and learn to improve on them</h1>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        
        <p>The process of finding flaws and then learning how to improve on them is a challenge for anyone. A great starting point is to acknowledge that there are imperfections in your makeup. There is a whole combination of traits that define who you are as a person A large number of these traits are considered to be positive, with a small number of negative traits added into the mix. These negative traits are flaws that act to undermine your abilities, in ways that may not be immediately obvious. Flaws can be difficult to discover, and it may take moving out of your comfort zone to find out what they are, among other actions. These flaws can be destructive when interacting with those around you in ways that are unintentional and unclear from your perspective. When these flaws are identified, it allows for an improvement in this interaction that can provide benefits to you and all of those around you. The end result is a positive outcome that reduces the impact of your flaws.</p>
        
        <p>The first step in addressing flaws is acknowledging that you have them. You may believe that everything about you is perfect, without any obvious imperfections; although, this is effectively hiding away from the truth. This is a state of denial that will impact your life in ways that you are not ready to take responsibility for. The way this appears is negative; although; it is necessary in order to achieve positive outcomes in the end. If you look back to the last time you failed, or something went in an unexpected direction, it is highly likely that one of your flaws came out of the shadows and started to cause difficulty in your life. Flaws are present in everyone, and acknowledging this fact is the first step in the process towards overcoming them.</p> 
        
        <p>The process of discovering your flaws can be challenging as they are not always obvious. If you make a move out of your comfort zone then limitations will start to appear and may highlight where flaws lie. This could include any number of changes such as moving to a new place, getting involved in a new activity, or meeting a new group of people. You could take a different approach by asking others to provide feedback directly, and this will require an ability to take criticism. The negative aspects could be balanced by discussing positive aspects as well. At this point, it may become clear as to how our flaws may be impacting those around us, and is a key reason for taking action to discover our flaws. A major part of this process is likely to be self-driven and it will help to have a starting point of what to look for. Looking past the obvious is essential to discover your flaws and is a process that will take effort.</p> 
        
        <p>Improving on flaws is the stage where you can start to make them more positive. At this point, you may have a partial understanding how these flaws are impacting your life. Working on your flaws is not going to be easy and will require you to step away from previous actions and beliefs. There are a number of options available to work on improving your flaws, including talking with those around you. It is important to point out that the people who you previously discovered flaws with, may not be the same people who you work with to improve on flaws. This could include the people you are studying with, a group of friends, those in your sports team, or people within your community, to name a few. There are also a number of website sources which discuss what is required to conquer our flaws, and relevant links are provided at the end. The stage of improving flaws has a number of options if you are willing to take this step to transform them into positive outcomes.</p>
        
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            
        <p>There are a number of benefits that result from improving on our flaws, which could include the following:</p>
            <ul>
                <li>A potential to achieve to a higher level than would have been possible previously.</li>
                <li>The relationships with family, friends, and work colleagues improve.</li>
                <li>An ability to progress more easily as the negative part of your personality is not holding you back.</li>
                <li>The destruction of all the effort from positive traits is reduced.</li>
                <li>Greater satisfaction may result from any routine task or challenge taken on.</li>
            </ul>
            
        
            
        <p>There are many more positive outcomes that could be achieved from taking on your flaws.</p>
        
        <p>The challenge of discovering flaws and improving on them is a difficult one to take on. For every one of us, there are flaws that are holding us back in ways that are often unintentional and not immediately obvious. If you can acknowledge that you have flaws, find a way to uncover them, and work to improve on them, then it will benefit us and all the others who are a part of your life. Take more than a moment to step back from reading this right now and think of the last time you failed, or something went in an unexpected direction, and then see what you learn from it. While it may not be possible to completely conquer your flaws, the benefits that result from taking on the challenge are positive in a number of areas of life.</p>
        
        <p>There are a number of available sources that relate to the improvement of flaws, of which a few are included below: 
            <li><p>Wiki How has a three part process on how to embrace your flaws:</p>
            <p><a href="http://www.wikihow.com/Embrace-Your-Flaws">http://www.wikihow.com/Embrace-Your-Flaws</p></li>
            <li><p>Dr. Brunner discusses 10 common character flaws that can derail even good people:</p>
            <a href="http://www.doctorbrunner.com/10-character-flaws-that-can-derail-even-good-people/">http://www.doctorbrunner.com/10-character-flaws-that-can-derail-even-good-people/</a></p></li>
            <li><p>The Michael Teachings discusses the seven ‘chief features’, of which one feature is your ‘primary stumbling block’. See the following link for details:</p>
            <a href="http://www.michaelteachings.com/personality_cf.html">http://www.michaelteachings.com/personality_cf.html</a></p></li>
            <li><p>Derek Sivers talks about the difference between a ‘fixed mindset’ and a ‘growth mindset’:</p>
            <a href="https://sivers.org/mindset">https://sivers.org/mindset</a></p></li>
            
    </div>
</div>            