<h1>Be social and build your network</h1>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        
        <p>Find ways to challenge yourself and build your social network. Here are a few ideas to put yourself out there and move out of your comfort zone:</p>
            <ul>
             	<li>Sign up to a club outside of your main area of study and get actively involved</li>
            
             	<li>Play a social sport that you have never tried before for a whole season</li>
            
             	<li>Attend a party where you only know one or two friends, and no one else</li>
            
             	<li>Get involved in an event with experienced professionals and make yourself known</li>
            
             	<li>Pick a random destination for a weekend away with others you have recently met</li>
             </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <ul>     
             	<li>Share an interesting story about yourself with a classmate outside your main study group</li>
        
             	<li>Attend a class that is not in your area and introduce yourself to the person sitting next to you.</li>
            
             	<li>Pick a classmate and choose an activity that neither of you have done before</li>
            
             	<li>Switch places with a friend or classmate, and cook dinner for their flatmates.</li>
            </ul>
        
        <p>We would like to hear your ideas for putting yourself out there and building a network. You can share your idea as a comment below or email <a href="mailto:mail@sledge.co.nz">mail@sledge.co.nz</a></p>
    </div>
</div>   
        